.gradient-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 482px;
  padding: 16px;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;

  position: relative;

  & span {
    position: relative;
    z-index: 1;
    font: var(--font-label-md);
    color: var(--content-primary);
    text-transform: uppercase;
  }
  & img {
    z-index: 1;
  }
}

.gradient-button:before {
  content: "";
  position: absolute;
  background: var(--gradient-border);
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  border-radius: 8px;
  z-index: 0;
  background-size: 200%;
}

.gradient-button:hover:before {
  animation: gradient 3s ease infinite alternate;
}

.gradient-button::after {
  content: "";
  position: absolute;
  background: var(--bg-tertiary);
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 8px;
  z-index: 0;
}

.gradient-button:hover:after {
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  animation: gradient 3s ease infinite alternate;
}

#redo {
  display: none;
}

#redo.active {
  display: flex;
}

#redo:hover img {
  animation: rotate 2s linear infinite;
}

#generate:hover img {
  animation: bounce 2s ease infinite alternate;
}

@keyframes gradient {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
